body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #333;
}

#agregar-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
}

.card {
  border: 1px solid #333;
  padding: 10px;
  margin-bottom: 10px;
}

.stats {
  margin-bottom: 10px;
}

.stats label {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}

.stats input {
  width: 50px;
}

.btn-container {
  margin-top: 10px;
}

.btn-container button {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
}

#modificar-vida-input {
  width: 100px !important;
}

/* CSS for navbar styling */
nav {
	background-color: #4CAF50;
	padding: 10px 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #4c8850;
}

.logo {
	display: inline-block; /* Make the logo and navbar links appear in the same line */
	vertical-align: middle; /* Align vertically with the navbar text */
	margin-right: 10px; /* Add spacing between logo and navbar links */
}

.logo img {
	width: 40px; /* Adjust the width as per your logo size */
	height: auto; /* Maintain the aspect ratio */
	vertical-align: middle; /* Align vertically with the navbar text */
}

.nav-option {
	padding-top: 30px;
}
