html {
	font-size: 14px;
}

body {
	margin: 0;
	font-family: sans-serif;
}

.icon {
	width: 20px;
}

input,
textarea,
select {
	font-size: 1rem;
margin: 10px 0 0 0;
width: 100%;
min-height: 2em;
}

.inline {
	width: unset;
	margin: 0 0.5em 0 0;
	vertical-align: middle;
}

label {
    display: block;
    margin: 0.5rem 0;
}

h1 {
	text-align: center;
}

label {
	font-weight: bold;
}

button {
	font-size: 1.2rem;
	margin-top: 10px;
	width: 100%;
	padding: 10px;
	border: none;
	background-color: #4CAF50;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

select {
	padding: 0.5rem;
	border-radius: 0.25rem;
	border: 1px solid #ccc;
	font-size: 1rem;
}

select:focus {
	outline: none;
	border-color: #2196f3;
	box-shadow: 0 0 0 2px #9edfff;
}

#result {
	margin-top: 20px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

/* CSS for navbar styling */
nav {
	background-color: #4CAF50;
	padding: 10px 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #4c8850;
}

.nav {
	display: block;
	width: 100%;
	overflow: hidden;
}

.container {
	display: block;
	padding: 20px;
	margin: 30px auto;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 90%;
	max-width: 400px;
}

.logo {
	display: inline-block; /* Make the logo and navbar links appear in the same line */
	vertical-align: middle; /* Align vertically with the navbar text */
	margin-right: 10px; /* Add spacing between logo and navbar links */
}

.logo img {
	width: 40px; /* Adjust the width as per your logo size */
	height: auto; /* Maintain the aspect ratio */
	vertical-align: middle; /* Align vertically with the navbar text */
}

.nav-option {
	padding-top: 30px;
}

@media only screen  and (max-width: 400px){
	.container {
		width: max-content;
	}
}
